body {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}
/* App.css */
.navbar-spacer { height: 76px; } 

.custom-card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15) !important;
}

/* Ajustes de texto */
.card-title {
  font-weight: 600;
}

.card-text.small {
  font-size: 0.875rem;
}
